html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.column {
    box-sizing: border-box;
    flex-grow: 1;
}

.left-column {
    width: 950px;
}

.right-column {
    width: 376px;
}

#titleOv {
    font-weight: bold;
}

svg {
    margin: 10px;
}

select {
    margin: 10px;
    background-color: lavender;
    padding: 8px 16px;
    border-radius: 15px;
    border-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    height: 50px;
}

label {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    margin: 10px;
}

button {
    animation-name: smooth-reverse;
    animation-duration: 300ms;
    margin: 10px;
    width: 165px;
    background-color: #003459;
    padding: 8px 16px;
    border-radius: 15px;
    border-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    height: 50px;
    cursor: pointer;
}

button:active {
    background-color: #007ea7;
}

#meteor {
    offset-path: path('M300,300 a10,10 0 1,1 0.01,0 z');
    animation-name: meteor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}

@keyframes meteor {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}