html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
    margin: 0px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 680px;
}

dt {
    margin: auto 10px;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #003459;   
  }


dd{
    max-width: 900px; 
    margin: 15px 30px;
    display: block;
    width: auto;
    background: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}


#dict {
    width: 900px;
    height: auto;
    background-color: Lavender;
    border-radius: 15px;
    margin: 15px 30px;
}
#title {
    font-size: 64px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #003459;
    margin: 10px;
}
#title2 {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #003459;
    margin: 0 0 0 20px;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    margin: 10px;
    text-align: center;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #003459;
    color: whitesmoke;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.circle:hover {
    background-color: #007ea7;
    box-shadow: 0 10px 20px 5px #ccc;
}

.circle:active {
    background-color: #90e0ef;
    color: #001233;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.column {
    box-sizing: border-box;
    flex-grow: 1;
}

.left-column {
    width: 950px;
}

.right-column {
    width: 376px;
}

#titleOv {
    font-weight: bold;
}

svg {
    margin: 10px;
}

select {
    margin: 10px;
    background-color: lavender;
    padding: 8px 16px;
    border-radius: 15px;
    border-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    height: 50px;
}

label {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    margin: 10px;
}

button {
    animation-name: smooth-reverse;
    animation-duration: 300ms;
    margin: 10px;
    width: 165px;
    background-color: #003459;
    padding: 8px 16px;
    border-radius: 15px;
    border-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #007ea7;
    box-shadow: 0 10px 20px 5px #ccc;
}

button:active {
    background-color: #90e0ef;
    color: #001233;
}

#sun {
    filter: drop-shadow( 0 0 4px rgb(255, 255, 255));
}

#asteroid {
    offset-path: path('M465,510 a300,200 0 1,1 0.01,0 z');
    animation-name: meteor;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

@keyframes meteor {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

#asteroidOverview {
    width: 356px;
    height: 250px;
    background-color: Lavender;
    border-radius: 15px;
    margin: 10px;
}

#titleOv {
    padding: 10px 0px 5px 0px;
    font-size: 22px;
    font-family: 'Open Sans', Helvetica;
    color: Gray;
    text-align: left;
}

#body1Ov {
    top: 65px;
    left: 20px;
  }
  
  #body2Ov {
    top: 95px;
    left: 20px;
  }
  
  #body3Ov {
    top: 125px;
    left: 20px;
  }
  
  #body4Ov {
    top: 155px;
    left: 20px;
  }
  
  #body5Ov {
    top: 185px;
    left: 20px;
  }
  
  #body6Ov {
    top: 205px;
    left: 20px;
  }
  
.hint {
    line-height: 0.9;
    display: block;
    width: auto;
    background: none;
    cursor: help;
    text-align: left;
    font-size: 1.3em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    margin: 0 0 0 20px;
    min-height: 0px;
    text-decoration: none;
}

.hint:hover {
    text-decoration: underline;
}

#sources {
    text-align: left;
    margin: 10px 10px 10px 30px;
}